
title AssetRack
link(href="/asset-rack/styles/bootstrap.min.css", rel="stylesheet")
link(href="/asset-rack/styles/main.css", rel="stylesheet")
link(href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet', type='text/css')
style
  body {
    padding-left: 50px;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #49240d;
    background: url('/asset-rack/images/bg.jpg');
  }
  #header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #header img {
    width: 300px;
  }
  ul.stack {
    list-style: none;
    font-size: 16px;
    line-height: 22px;
  }
  a, a:hover {
    color: #8e2927;
  }
